# ======================
# API CONFIG
# https://www.omdbapi.com/
# ======================
OMDB_API_KEY = 'YOUR-FREE-API-KEY-GOES-HERE'

# The APP_SECRET_KEY is strictly required in Flask to cryptographically sign the session data used
# for flash messages stored in browser cookies, thereby protecting it from unauthorized tampering.
APP_SECRET_KEY = 'ANY-PHRASE-YOU-CAN-CHOOSE-TOTALLY-FREE-OR-LEAVE-IT-AS-IT-IS'